#root {
    flex-direction: column;
    border: 2px solid #48cae4;
    height: 100%;
    width: 700px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
}

.input-item {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    bottom: 34px;
    width: 700px;
    height: 200px;
    background-color: #fca311;
    color: #14213d;
}

.msg-input {
    height: 80px;
    width: 249px;
}

.name-input {
    height: 25px;
    width: 249px;
    margin-left: 23px;
    margin-bottom: 9px;
}

.send-btn {
    height: 35px;
    width: 88px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 140px;
}

.message-box {
    border: 2px solid #e5e5e5;
    border-radius: 15px 70px;
    background-color: #000;
    color: snow;
    padding: 20px;
    margin-bottom: 10px;
    height: 60px;
}

/* .delete-btn {
    height: 25px;
    width: 70px;
    font-size: large;
    font-weight: bold;
} */